# Dependency directories
node_modules/
**/node_modules/

# Git & configuration
.git/
.github/
.husky/
.vscode/

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Local env files
.env
.env.*
!.env.production
