services:
  nginx:
    image: nginx:1.29
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - node
  node:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    env_file:
      - ./.env.development
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      postgres:
        condition: service_healthy
    container_name: back-agromanager

  postgres:
    image: postgres:16
    shm_size: 128mb
    container_name: local-postgres
    ports:
      - "5432"
    env_file:
      - ./.env.development
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "local_pg", "-d", "local_pg"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:8.2.3-alpine
    container_name: redis_local
    ports:
      - "6379"
    env_file:
      - ./.env.development
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:

